.main-container{
    background-color: black;
    width: 7em;
    height: 15em;
     padding: 8px;
    border-radius: 7px;}

.circle{
    border-radius: 50%;
    min-width: 3em;
    min-height: 4rem;
    margin:5px 5px;}

/*ligths off*/
.red{ background-color: #350c10;}
.green{ background-color: #102e20;}
.yellow{background-color: #38311c;}


.active{box-shadow: inset 0 0 50px #fff;
}

.red.active{background-color:#f32d41;
}

.green.active{background-color: #1ce02d;
}

.yellow.active{background-color: yellow;
}